<section id="profile-section">
    <div class="dark-overlay">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                            <div class="card">
                                    <div class="card-block text-center">
                                        <h2>Hello, {{user.name}}</h2>
                                        <hr>
                                        <button routerLink="/todos" class="btn btn-primary btn-lg">My Todos</button>
                                        <button routerLink="/add-todo" class="btn btn-primary btn-lg">Add Todo</button>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>