<section id="login-section">
    <div class="dark-overlay">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <h3 class="card-header bg-primary text-center">Login</h3>
                            <div class="card-block">
                                <form #loginForm="ngForm" (ngSubmit)="onLogin()">
                                    <div class="form-group">
                                        <label for="user-email">User name</label>
                                        <input name="username" type="text" class="form-control" id="user-name" [(ngModel)]="user.userName" #username="ngModel" required>
                                        <span class="error" *ngIf="!username.valid && username.touched">Username is required</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="user-password">Password</label>
                                        <input name="password" type="password" minlength="6" class="form-control" id="user-password" [(ngModel)]="user.password" #password="ngModel" required>
                                        <div *ngIf="password.invalid && (password.dirty || password.touched)">
                                            <span *ngIf="password.errors.required" class="error">Password is required</span>
                                            <span *ngIf="password.errors.minlength" class="error">Password must be atleast 6 characters</span>
                                        </div>
                                    </div>
                                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success btn-lg btn-block"><span *ngIf="loading">Logingin...</span><span *ngIf="!loading">Login</span></button>
                                </form>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>